<!DOCTYPE html>
<html lang="en">

<head>
    <title>Demo web rtc</title>
</head>

<body>
    <h1>Demo web rtc</h1>
    <video id="localStream" width="300" controls></video>
    <br>
    <video id="friendStream" width="300" controls></video>
    <br>
    <br>
    <br>
    <span class="label label-success">My Connection Token</span>
    <br>
    <br>
    <br>
    <textarea name="" id="txtMySignal" cols="100" rows="10"></textarea>
    <br>
    <br>
    <input type="text" placeholder="Your's friend signal" id="txtFriendSignal">
    <br>
    <button type="button" class="btn btn-default" id="btnConnect">Connect</button>
</body>

<script src="bundle.js"></script>

</html>